@(game : Game)

@layout("Prototype Bowling") {

    @for(p <- game.getPlayers){

        @if(p.getId%2!=0){
            <div class="panel panel-primary">
            }else{
            <div class="panel panel-secondary">
            }


        <div class="panel-heading scoreboard">
            <h3 class="panel-title">@p.getPseudo</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        @for(t <- p.getCurrentScoreboard.getTurns) {
                            @if(t.getNumber<10) {
                                <th colspan="2" class="scoreboard">Turn n°@t.getNumber</th>
                            }else{
                                <th colspan="3" class="scoreboard">Turn n°@t.getNumber</th>
                            }
                        }
                        @if(p.getCurrentScoreboard.getCurrentTurn.getTotalScore==game.getWinner){
                            <th rowspan="3" class="scoreboard">Total score<hr>@p.getCurrentScoreboard.getCurrentTurn.getTotalScore<br><span class="glyphicon glyphicon-star-empty"></span> Winner <span class="glyphicon glyphicon-star-empty"></span></th>
                        }else{
                            <th rowspan="3" class="scoreboard">Total score<hr>@p.getCurrentScoreboard.getCurrentTurn.getTotalScore</th>
                        }

                    </tr>
                    <tr class="scoreboard">
                    @for(t <- p.getCurrentScoreboard.getTurns) {
                        <td>@if(t.getShots.size>0){
                            @t.getShots.get(0).getSkittlesFall
                        }else{
                            -
                        }</td>
                        <td>@if(t.getShots.size>1){
                            @t.getShots.get(1).getSkittlesFall
                        }else{
                            -
                        }</td>
                        @if(t.getNumber==10){
                            <td>@if(t.getShots.size>2){
                                @t.getShots.get(2).getSkittlesFall
                            }else{
                                -
                            }</td>
                        }
                    }
                    </tr>
                    <tr>
                    @for(t <- p.getCurrentScoreboard.getTurns) {
                        @if(t.getNumber<10) {
                            <th colspan="2" class="scoreboard">@t.getTotalScore</th>
                        }else{
                            <th colspan="3" class="scoreboard">@t.getTotalScore</th>
                        }
                    }
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
    }
</div>
}