@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" href="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </head>
    <body>

            <!--Debut de la barre de navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Prototype Bowling scoreboard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Application.index()"><span class="glyphicon glyphicon-refresh"></span> Generate a new random game</a></li>
                        <li><a href="@routes.Application."><span class="glyphicon glyphicon-refresh"></span> Generate a new random game</a></li>
                    </ul>
                </div>
            </div>
        </nav>
            <!--Fin de la barre de navigation -->

        <div class="container">

                <!--Debut du content -->
            @content
                <!--Debut du content -->
        </div>
    </body>
</html>
